@media (max-width: 770px) {
  .contact-page .header {
    font-size: 30px !important;
    padding: 0 !important;
  }
  .contact-page .header p {
    font-size: 40px !important;
  }
  .contact-page .header h1 {
    font-size: 30px !important;
  }
  .homepage-container .homepage {
    flex-direction: column-reverse;
  }
  .homepage-container .homepage .image-section, .homepage-container .homepage .text-section {
    width: 100%;
    height: 100%;
  }
  .homepage-container .homepage .image-section h1, .homepage-container .homepage .text-section h1 {
    margin: auto;
    width: 95%;
    font-size: 35px;
  }
  .homepage-container .homepage .image-section .main-image, .homepage-container .homepage .text-section .main-image {
    width: 90%;
    margin: 0px auto 100px auto;
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    border-radius: 10px;
  }
  .homepage-container .homepage .image-section .main-image img, .homepage-container .homepage .text-section .main-image img {
    border-radius: 10px;
  }
  .homepage-container .homepage .image-section .image-background {
    display: none;
    border-bottom: 70vh solid #27ae60;
  }
  .homepage-container .text-section {
    height: auto;
  }
  .homepage-container .text-section p {
    width: 100%;
    line-height: normal;
  }
  .about-container {
    padding-bottom: 80px !important;
  }
  .about-container .header {
    font-size: 51px !important;
    padding: 0 !important;
    -webkit-text-stroke: 2px !important;
  }
  .about-container .header p {
    font-size: 40px !important;
  }
  .about-container .header h1 {
    font-size: 30px !important;
  }
  .about-container .summaries {
    flex-direction: column;
  }
  .about-container .summaries .about-me-text, .about-container .summaries .stats-section, .about-container .summaries .stat {
    width: 100% !important;
  }
  .about-container .summaries .about-me-text p, .about-container .summaries .stats-section p, .about-container .summaries .stat p {
    width: 100%;
  }
  .about-container .summaries .about-me-text .number, .about-container .summaries .about-me-text .text, .about-container .summaries .stats-section .number, .about-container .summaries .stats-section .text, .about-container .summaries .stat .number, .about-container .summaries .stat .text {
    width: 100%;
  }
  .about-container .summaries .stat {
    padding: 10px;
  }
  .about-container .summaries h1 {
    margin: 0px !important;
  }
  .about-container .summaries .about-text-width {
    width: 100% !important;
  }
  .about-container .summaries .about-text-width p {
    margin: 10px 0px !important;
  }
  .about-container .divider {
    width: 100% !important;
  }
  .about-container .my-skills-section .skill {
    width: 100% !important;
    margin: 15px;
  }
  .about-container .timeline-section {
    flex-direction: column;
    width: 95% !important;
    margin: auto;
  }
  .about-container .timeline-section .timeline-container {
    width: 100%;
  }
  .about-container .timeline-section .timeline-container .timeline {
    padding: 10px 20px;
  }
  .about-container .timeline-section .timeline-container .timeline .date {
    margin: 0px 30px;
  }
  .contact-page-container {
    padding-bottom: 80px !important;
  }
  .contact-page-container .text-region h1 {
    font-size: 20px;
    margin: 10px;
  }
  .contact-page-container .items {
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;
  }
  .portfolio-container {
    padding-bottom: 80px;
  }
  .portfolio-container .intro-text {
    margin: 10px;
  }
  .portfolio-container .row1 {
    flex-direction: column;
    padding: 0px;
  }
  .portfolio-container .row-item, .portfolio-container .row-item-more {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}/*# sourceMappingURL=media-query.css.map */